@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(241, 223, 241);
}

nav{
    background: rgb(22, 1, 22);
    color: white;
    height: 8vh;
    display: flex;
    align-items: center;
    padding: 1vw;
}

.line{
    transition: width 0.5s ease-in-out;
    width: 0vw;
    height: 7px;
    position: absolute;
    background: rgb(66, 17, 66);
}

li{
    font-size:20px;
    font-family: Poppins, sans-serif;
}

.gameContainer{
    gap: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:30vw;
    margin-left: 15px;
    margin-right: 15px;
    display:grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    position: relative;
}

.block{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block:hover{
    background: rgb(236, 193, 236);
    cursor: pointer;
}

.block span{
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.bt{
    border-top: 0;
}
.bb{
    border-bottom: 0;
}
.bl{
    border-left: 0;
}
.br{
    border-right: 0;
}

.gameInfo{
    margin: 0 30px;
    text-align: center;
}
h1{
    font-size: 2.5em;
    margin: 0 auto;
}
img{
    width: 110px;
    transition: transform 0.6s ease-in-out;
    transform: scale(0);
}

#reset{
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 10%;
    padding: 5px 15px;
    background: #5a5959;
    font-family: 'Roboto', sans-serif;
    color: wheat;
    font-size: medium;
    cursor: pointer;
    border: 1px solid #444444;
}

@media screen and (max-width: 700px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .container{
        width: 42vw;
        grid-template-rows: repeat(3,14vw);
        grid-template-columns: repeat(3,14vw);
    }
    h1{
        font-size: 1.6em;
    }
    img{
        width: 90px;
    }
}

@media screen and (max-width: 500px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .container{
        width: 60vw;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
    h1{
        font-size: 1.6em;
    }
    img{
        width: 90px;
    }
}



.blockText.winner {
    color: #fff; 
    background-color: #4caf50; 
    font-weight: bold; 
    border: 10px solid #4caf50; 
    border-radius: 5px; 
}